---
- name: Set postgis, pgaudit version in PG 14
  set_fact:
    postgis_version: 32
    pgaudit_version: 16
    pg_hint_plan_version: "1_4_1"
    pg_bigm_version: "1.2"
  when: pg_major_version|int == 14

- name: Set postgis, pgaudit version in PG 15
  set_fact:
    postgis_version: 33
    pgaudit_version: 17
    pg_hint_plan_version: "1_5_0"
    pg_bigm_version: "1.2"
  when: pg_major_version|int == 15
