[Service]
User={{ pgpool2_user }}

EnvironmentFile=-/etc/sysconfig/pgpool-II

ExecStart=
ExecStart={{ pgpool_start_command }} $OPTS
ExecStop=
ExecStop={{ pgpool_stop_command }}
ExecReload=
ExecReload={{ pgpool_reload_command }}