---
pgpool2_version: 4.3
pgpool2_configuration_file: "/etc/pgpool-II/pgpool.conf"
pgpool2_pool_passwd_file: "/etc/pgpool-II/pool_passwd"
pgpool2_user: "postgres"
pgpool2_group: "postgres"
pgpool2_bin_path: "/usr/bin"
pgpool2_pid_file_name: "/var/run/pgpool-II/pgpool.pid"
# pcp file
pcp_configuration_file: "/etc/pgpool-II/pcp.conf"
pcppass_file: "{{ pg_user_home }}/.pcppass"
pgpool2_pcp_port: 9898

pg_user_home: "/var/lib/pgsql"

# pgpool command
pgpool_start_command: "{{ pgpool2_bin_path }}/pgpool -f {{ pgpool2_configuration_file }}"
pgpool_stop_command: "{{ pgpool2_bin_path }}/pgpool -f {{ pgpool2_configuration_file }} -m fast stop"
pgpool_reload_commnad: "{{ pgpool2_bin_path }}/pgpool -f {{ pgpool2_configuration_file }} reload"

supported_os:
  - CentOS7
  - CentOS8
  - RHEL7
  - RHEL8
  - RHEL9
  - Rocky8
  - Rocky9

supported_pg_version:
  - 14.0
  - 14.1
  - 14.2
  - 14.3
  - 14.4
  - 14.5
  - 14.6
  - 14.7
  - 14.8
  - 15.0
  - 15.1
  - 15.2
  - 15.3
  - 15.4

supported_pgpool2_version:
  - 4.3
