---
all:
  children:
    primary:
      hosts:
        primary1:
          ansible_host: {{ inventory_vars['primary1_ip'] }}
          private_ip: {{ inventory_vars['primary1_ip'] }}
          barman: true
          barman_server_private_ip: {{ inventory_vars['barman1_ip'] }}
          barman_backup_method: postgres
          pgbouncer: true
    standby:
      hosts:
        standby1:
          ansible_host: {{ inventory_vars['standby1_ip'] }}
          private_ip: {{ inventory_vars['standby1_ip'] }}
          replication_type: asynchronous
          upstream_node_private_ip: {{ inventory_vars['primary1_ip'] }}
          pgbouncer: true
        standby2:
          ansible_host: {{ inventory_vars['standby2_ip'] }}
          private_ip: {{ inventory_vars['standby2_ip'] }}
          replication_type: asynchronous
          upstream_node_private_ip: {{ inventory_vars['primary1_ip'] }}
          pgbouncer: true
    pgpool2:
      hosts:
        pool1:
          ansible_host: {{ inventory_vars['pool1_ip'] }}
          private_ip: {{ inventory_vars['pool1_ip'] }}
          primary_private_ip: {{ inventory_vars['primary1_ip'] }}
    barmanserver:
      hosts:
        barman1:
          ansible_host: {{ inventory_vars['barman1_ip'] }}
          private_ip: {{ inventory_vars['barman1_ip'] }}
          primary_private_ip: {{ inventory_vars['primary1_ip'] }}
